<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Hellow World</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <%= link_to "Privacy Policy!", privacy_path %>
      </p>
    </div>

    <div class="col-md-12">
      <p>
        <%= link_to "Courses", courses_path %>
      </p>

