<!-- https://chartkick.com/ -->
<h4 class="text-center">
New users per day
</h4>
<%= line_chart charts_users_per_day_path %>

<h4 class="text-center">
  New enrollments per day
</h4>
<%= column_chart charts_enrollments_per_day_path %>

<h4 class="text-center">
  Most enrolled courses
</h4>
<%= bar_chart charts_course_popularity_path %>

<h4 class="text-center">
  Most paid courses
</h4>
<%= line_chart charts_money_makers_path %>


<br />
<br />

<%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
