<% content_for :title do %> Website | New Enrollment <% end %>

<div class="card">
  <div class="card-header">
    <h3>
      <div class="fa fa-lock-open"></div>
      New enrollment
    </h3>
  </div>
  <div class="card-body">
    <%#= render 'form' %>
    <%= render "form", enrollment: @enrollment %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', enrollments_path %>
  </div>
</div>
