<%= render @lesson %>
<div class="card border-secondary w-25 mx-auto mt-2">
  <div class="card-body">
    <div class="card-text text-center">
      <%= link_to "Back to lesson", lessons_path , class: 'btn btn-sm btn-info' %>
      <hr />
      <%# if current_user %>
      <%# if policy(@course).edit? %>
        <%= link_to 'Edit', edit_lesson_path(@lesson), class: 'btn btn-sm btn-warning' %>
      <%# end %>
      <hr />
      <%# if policy(@course).destroy? %>
        <%= button_to 'Destroy this lesson', @lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
      <%# end %>
    </div>
  </div>
</div>
