<div class="card border-secondary text-center">
  <div class="card-body">
    <h5 class="card-header text-primary">
      <%= link_to course.title, course_path(course) %>
    </h5>
    <div class="card-text">
      <%= simple_format(course.marketing_description) %>
    </div>
    <div class="card-footer">
      <%= enrollments_button(course) %>
    </div>
  </div>
</div>
