<h4><%= link_to 'Courses', courses_path, class: 'text-decoration-none' %> \ <%= @course.title %></h4>
<br />
<div class="row">
  <div class="col-lg-6">
    <%= render 'courses/course', course: @course %>
  </div>
  <div class="col-lg-6">
    <% @lessons.each do |lesson| %>
      <%= render 'lessons/lesson_in_course_page', lesson: lesson %>
    <% end %>
  </div>
</div>
