<footer class="bg-secondary text-center text-lg-start fixed-bottom">

  <div class="d-flex justify-content-center">
    Copyright © <%= Time.now.year %> |
    <%= link_to ' Privacy ', privacy_path, class: "px-2 nav-link" %> |
    <%= link_to ' New Course ', new_course_path, class: "px-2 nav-link" %>
  </div>
</footer>
